
html, body, #root {
  height: 100%;
}

body {
  margin: 0;
}
.main{
  padding:52px 0 60px;

}
.header{
  width: 100vw;
  position: fixed;
  top:0;
  height: 50px;
  z-index: 100;
}
.am-carousel img{
  border-radius: 10px
}
.my-list .spe .am-list-extra {
  flex-basis: initial;
}
#mylist .am-list-item-middle {
    min-height: 58px;
    
}
#mylist .am-list-item-middle span{
  color:gray;
  font-size: 13px;
}
#mylist .am-list{
  margin-bottom: 5px;
}

#Search .hotComment .am-card{
  background: #ccceb47a
}
.hotComment .am-card-body{
  font-size: 25px;
  line-height: 30px;
  font-family: '楷体'
}
#Search .hotComment .am-card .am-card-footer-content{
  flex: 1;
}
#Search .hotComment-img .sub-title {
  
    color: #888;
    font-size: 14px;
    padding: 15px 0 9px 15px;
  
  
}
#Search .hotComment-img  .not-square-grid .am-grid-icon{
  width: 45vw;;
 /* / height: 330px; */
}
#Search .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content {
  padding: 0;
  overflow: hidden;
  margin: 10px 0px;
}
#Search .am-grid .am-flexbox .am-flexbox-item .am-grid-item-content img{
  border-radius: 15px;
  box-shadow: 4px 4px 5px #888963;
}
.mov{
  background: white;
  margin: 0 auto 10px;
  padding-top: 10px;
}
.mov .am-card{
  min-height: 10px;
}
.mov video{
  width: 94vw;
  margin: 0 3vw 0;
  border-radius: 8px;
}
.mov  .am-card-header-extra img{
  width: 30px;
  height: 30px;
 
}
.mov .am-card-header-content{
  white-space: nowrap;
  font-size: 15px;

}
.mov .am-card-header-content img{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}



#list_album{
  position: absolute;
  top:0;
  z-index: 200;
  width: 100vw;
}
#list_album .list_l .am-card{
  min-height: 0;
}
#list_album .list_l .am-card-body{
  padding: 0 15px 0px;
  line-height: 40px;
}
#Detail{
  position: absolute;
  top:0;
  z-index: 201;
  width: 100vw;
  height: 100vh;
  background: url('http://img4.imgtn.bdimg.com/it/u=3163225063,2729036083&fm=26&gp=0.jpg') no-repeat ;
  background-size: cover;

}
#search_album{
  position: absolute;
  top:0;
  z-index: 100;
  width: 100vw;
  height: 100vh;
  background: #f1f1f1;
  z-index: 200;
}
#footer{
  position: fixed;
  bottom: 0;
  width: 100vw;
  background: white;
  z-index: 100;
  
}
.footer_contain{
  padding: 10px;
  height: 3.125rem;
  
}
.footer_contain span{
  float: left;
  display: block;
  line-height:50px;
  font-size: 37px;
  color: rgb(224, 67, 67)
}
#footer  img{
  float: left;
  height: 3.125rem;
  width: 50px;
  border-radius: 50%;

}

